{% extends "posts/base.html" %}
{% block title %}О Технологиях{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
  <div class="row">
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <h1>Технологии, благодаря которым этот сайт существует</h1>
          <p>
            Для начала, я бы хотела сказать спасибо Луллию Раймунду, Конраду Цузе и Джону фон Нейману за то,
            что весь мир имеет счастье пользоваться плодами их труда, а именно вычислительными машинами, которые
            нынче мы называем компьютерами. Говоря о технологиях, не упомянуть их было бы преступлением.
          </p>
          <h2>Итак, технологии</h2>
          <p>
            Наверное, нужно начать с фреймворка: данный сайт (как и многие другие в интернете) построен на Django.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
